{% comment %}
This component generates a link to view the Git history of the current blog post
and provides interactive version viewing and diff comparison
{% endcomment %}

{% assign repo_parts = site.repository | split: "/" %}
{% assign repo_owner = repo_parts[0] %}
{% assign repo_name = repo_parts[1] %}

{% comment %}
Detect if we're in a PR preview by checking the baseurl
PR previews have baseurl like /pr-11, production has empty baseurl
{% endcomment %}
{% assign is_pr_preview = false %}
{% assign branch = "main" %}
{% if site.baseurl contains "/pr-" %}
    {% assign is_pr_preview = true %}
    {% comment %}For PR previews, we need to detect which branch - for now use poc{% endcomment %}
    {% assign branch = "poc" %}
{% endif %}

<div class="post-history" 
     data-owner="{{ repo_owner }}" 
     data-repo="{{ repo_name }}" 
     data-path="{{ page.path }}"
     data-branch="{{ branch }}">
    <hr>
    <div class="history-info">
        <h3>📜 Post History & Versions</h3>
        <p>This blog post is version-controlled. You can view all changes, edits, and revisions made over time.</p>

        {% include version-viewer.html %}

        <a href="https://github.com/{{ site.repository }}/commits/{{ branch }}/{{ page.path }}" class="history-button"
            target="_blank" rel="noopener">
            View Full History on GitHub →
        </a>
        <p class="history-meta">
            <small>File: <code>{{ page.path }}</code></small><br>
            {% if revision_count %}
            <small>Revisions: {{ revision_count }} • Last modified: {{ modified_date }}</small>
            {% endif %}
        </p>
    </div>
</div>
